body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 10%;
}

div {
    display: block;
    unicode-bidi: isolate;
}
h1 {
  font-weight: 700;
  font-size: 44px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
}

h3 {
  text-decoration: underline;
  font-weight: 1;
}

h4 {
  font-weight: 1;
}

.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.deep-black {
    background-color: #0A0D12;
    color: #fff;
}

.graphite-grey {
    background-color: #121826;
    color: #fff;
}

.steel-grey {
    background-color: #2A3446;
    color: #fff;
}

.glacier-blue {
    background-color: #3B82F6;
    color: #fff;
}

.ice-blue {
    background-color: #93C5FD;
    color: #fff;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
}